#cts {background-color: #ffdd2e}
#ops {background-color: #ffe86a}
#crs {background-color: #fff2ac}

.stn{
    padding-bottom:2em;
    padding-left:1em;
}
.stnr{
    padding:.3em;
}
.chart{
    /*max-width: 1000px;*/
    overflow-x:scroll;
    background-color: aliceblue;
    padding: 2em;
    height:520px;
}
.settings{
    height:578px;
    background-color: #fff2ac;
}
.circle {
    border-radius: 50%/50%;
    width: 20px;
    height: 20px;
    background: black;
}
.tab {
    padding: 3px;

}
table.tab{
    margin-top:2em;
}

.pure-g [class*="pure-u"] {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 14px;
}
